.color {
  border-style: 1px solid black;
  width: 80px;
  height: 80px;
  float: left;
}

.cor1 {
  background-color: rgba(0, 157, 185, 255);
}

.cor2 {
  background-color: rgba(237, 23, 129, 255);
}

.cor3 {
  background-color: rgba(49, 54, 57, 255);
}

.cor4 {
  background-color: rgba(188, 227, 232, 255);
}

