* {
  padding: 0;
  margin: 0;
}

.color {
  border: 1px solid black;
  width: 80px;
  height: 80px;
  display: inline-block;
  margin-left: 8px;
}

.cor1 {
  background-color: black;
}

.cor2 {
  background-color: rgba(0, 157, 185, 255);
}

.cor3 {
  background-color: rgba(237, 23, 129, 255);
}

.cor4 {
  background-color: rgba(188, 227, 232, 255);
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

#pixel-board {
  margin-left: 30px;
  margin-top: 30px;
  width: 250px;
  height: 250px;
}

.linha1 {
  float: left;
}

.linha2 {
  float: left;
}

.linha3 {
  float: left;
}

.linha4 {
  float: left;
}

.linha5 {
  float: left;
}

/*

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin: -3px;
} */
